*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*style of navbar*/
header{
    padding-top: 72px;

nav{
    padding: 0 70px;
    background-color: #fff;
    width: 100vw;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    

    ul{
        display: flex;
        list-style: none;
        min-width: 519px;
    

        a {
            text-decoration: none;
            font-size: 16px;
            padding: 26.5px 20px;
            font-weight: 600;
            color: #000000;
            font-family: "Exo", sans-serif;

            .arrow{
                vertical-align: middle;
            }
        }
        
    }
    .register{
        display: flex;
        gap: 20px;
        min-width: 198px;

        a{
            padding: 22.5px 0;
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
            color: #000000;
            font-family: "Jost", sans-serif; 
        }
    }
    ul{
        a:hover{
            color: #FF782D;
            background-color: #F5F5F5;
        }
    }

    .bars{
            display: none;
            background: none;
            border: none;
        }
}
.hero{ 
    background-color: #F5F5F5;
    height: 60px;

    .info{
        padding: 18px 70px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

        p,.FAQs{
            font-size: 16px;
            font-weight: 400;
            color: #555555;
            font-family: "Jost", sans-serif;
        }
        .FAQs{
            color: #9D9D9D;
        }
    }
}
}
/*style of FAQs*/
.FAQs{
    .continer{
        margin: 56px 70px 0;
        display: flex;
        flex-direction: column;
        gap: 50px;

        h2{
            font-size: 32px;
            font-weight: 600;
            font-family: "Exo", sans-serif;
        }
        .content{
            display: flex;
            justify-content: space-between;
            gap: 38px;

            .sub-content{
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 594px;
            

                .info{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px 30px;
                    height: 64px;
                    background-color: #F5F5F5;
                    border-radius: 8px;

                    h5{  max-width: 500px;
                        font-size: 16px;
                        font-weight: 600;
                        font-family: "Exo", sans-serif;
                    }
                }
                .active{
                    background-color: #F5F5F5;
                    border-radius: 8px;
                    min-height: 192px;
                    max-width: 594px;

                    .info{
                        h5{
                            color: #FF782D;
                        }
                    }

                    p{
                        max-width: 100%;
                        font-size: 18px;
                        color: #555555;
                        font-weight: 400;
                        font-family: "Jost", sans-serif;
                        padding: 20px 30px;
                        padding-top: 0;
                    }
                }
            }
        }
        .image{
            height: 321px;
            .photo{
                height: 100%;
                
            }
        }

    }
}
/*style of  Contact Us*/
.contact{
    padding: 50px 70px 0;
    background-color: #F5F5F5;

    .continer{
        display: flex;
        justify-content: space-between;
        gap: 30.2px;

        .card1{
            max-width: 412.69px;
            height: 131px;
            img{
                margin-bottom: 32px;

            }
            p{
                    font-size: 18px;
                    font-family: "Jost", sans-serif;
                    font-weight: 400;
                    max-width: 341px;
                    color: #555555;
            }
        }
        .card2 ,.card3{
            width: 191.25px;
            height: 191px;
            h4{
                margin-bottom: 32px;
                font-size: 20px;
                font-weight: 600;
                font-family: "Exo", sans-serif;
            }
            .sub-card{
                height: 135px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                p, a{
                    font-size: 18px;
                    color: #555555;
                    font-family: "Jost", sans-serif;
                    font-weight: 500;
                    text-decoration: none;                    
                }
            }
        }
        .card3{
            height: 281px;
            .sub-card{
                height: 225px;

                p:hover{
                    color: #FF782D;
                }
            }
        }
        .card4{
            max-width:340.22px ;
            height: 218px;
            

            h4{
                margin-bottom: 32px;
                font-size: 20px;
                font-weight: 600;
                font-family: "Exo", sans-serif;
            }
            .content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 16px;

                .sub-card{
                    p{
                    font-size: 18px;
                    color: #555555;
                    font-family: "Jost", sans-serif;
                    font-weight: 400;                        
                    }
                }
                .icon{
                    display: flex;
                    justify-content: flex-start;
                    gap: 12px;

                    svg{
                        color: #555555;
                        font-size: 20px;
                    }

                    .active:hover{
                        color: #FF782D;
                    }
                }
            }
        }
    }
footer{
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;

                p{
                    font-size: 18px;
                    color: #555555;
                    font-family: "Jost", sans-serif;
                    font-weight: 400;                   
                }
    }
}


/*media query */
@media screen and (max-width : 992px){
    header{
        nav{
            padding: 30px 20px;

            ul ,.register{
            display: none;
            }
            .bars{
                display: block;
                padding-top: 5px;
            }
        }
        .hero{
            .info{
                padding: 18px 20px;
            }
        }
    }
    .FAQs{
        .continer{
            margin: 56px 20px 0;

            .content{
                flex-direction: column;
                .sub-content{
                    max-width: 100%;
                    .info{
                        padding: 22.5px 16px;
                    }
                }
            }
            .image{
                .photo{
                    
                    max-width: 100%;
                }
            }
        }
    }
    .contact{
        padding: 70px 20px 0 ;

        .continer{
            flex-direction: column;
            gap: 30px;

            .card1{
                margin-bottom: 30px;
            }
            .card4{
                sub-card{
                    max-width: 300px;
                }
            }
        }
        footer{
            padding: 38px 20px 93px;
            p{
                text-align: center;
            }
        }
    }
}